/* Global Styles */
:root {
    --black-bg: #080225;
    --green-main: #2A964A;
    --green-light: #7EBF91;
    --green-dark: #1E6E36;
    --purple-dark: #211B3B;
}
/* Global Styles */
body {
    font-family: 'Aeonik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--black-bg);
    min-height: 100vh;
    color: white;
}

main {
    
}